version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      tree-sitter:
        patterns:
          - "tree-sitter*"
  - package-ecosystem: "docker"
    directory: "Dockerfile"
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directory: "/.github/workflows"
    schedule:
      interval: "weekly"

